@font-face {
  font-family: CaskaydiaCove;
  src: url(CaskaydiaCoveNerdFont-Regular.ttf);
}

@font-face {
  font-family: CaskaydiaCove;
  src: url(CaskaydiaCoveNerdFont-Bold.ttf);
  font-weight: bold;
}

* {font-family: sans-serif}