@font-face {
  font-family: CaskaydiaCove;
  src: url(CaskaydiaCoveNerdFont-Regular.ttf);
}

@font-face {
  font-family: CaskaydiaCove;
  src: url(CaskaydiaCoveNerdFont-Bold.ttf);
  font-weight: bold;
}

h1 {
  font-family: CaskaydiaCove;
}

div {
  font-family: CaskaydiaCove;
}

p {
  font-family: myFirstFont, sans-serif;
}

